@charset "UTF-8";
/*Variaveis Principais do Grid.scss*/
/* o tamnaho do Device é o mesmo que do Container. Estas, portanto são variaveis de BreakPoints para cada tamanho de tela */
/*Monitor Largo*/
/*Monitor Normal*/
/*Tablets*/
/*SmarthPhones*/
/*Configurações Gerais*/
body {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*MIXIN de BreakPoints de Responsividade - É essêncial para o controle de tela e Design*/
/*FUNÇÕES de GRID - Calcula o tamanho de cada coluna do grid em porcentagem para cada breakPoint.*/
/*Gerador de Classes GRID*/
.grid-1 {
  width: calc(8.33333% - 20px);
}

.grid-2 {
  width: calc(16.66667% - 20px);
}

.grid-3 {
  width: calc(25% - 20px);
}

.grid-4 {
  width: calc(33.33333% - 20px);
}

.grid-5 {
  width: calc(41.66667% - 20px);
}

.grid-6 {
  width: calc(50% - 20px);
}

.grid-7 {
  width: calc(58.33333% - 20px);
}

.grid-8 {
  width: calc(66.66667% - 20px);
}

.grid-9 {
  width: calc(75% - 20px);
}

.grid-10 {
  width: calc(83.33333% - 20px);
}

.grid-11 {
  width: calc(91.66667% - 20px);
}

.grid-12 {
  width: calc(100% - 20px);
}

/*MIXIN da ESTRUTURA do GRID*/
/*Seletor que seleciona todos as classes que iniciam "grid-"*/
[class^="grid-"] {
  /*float: left;*/
  /*min-height: 1px;*/
  margin: 0 10px;
  /*@include device($)*/
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  [class^="grid-"] {
    width: 100%;
    /*float: none;*/
  }
}

/*GERADOR de classes OFFSET */
/*para index de 1 até 12 : faça*/
.offset-1 {
  /*seletor offset-index*/
  margin-left: calc(8.33333% + 10px);
  /*grid(n, string)*/
}

/*para index de 1 até 12 : faça*/
.offset-2 {
  /*seletor offset-index*/
  margin-left: calc(16.66667% + 10px);
  /*grid(n, string)*/
}

/*para index de 1 até 12 : faça*/
.offset-3 {
  /*seletor offset-index*/
  margin-left: calc(25% + 10px);
  /*grid(n, string)*/
}

/*para index de 1 até 12 : faça*/
.offset-4 {
  /*seletor offset-index*/
  margin-left: calc(33.33333% + 10px);
  /*grid(n, string)*/
}

/*para index de 1 até 12 : faça*/
.offset-5 {
  /*seletor offset-index*/
  margin-left: calc(41.66667% + 10px);
  /*grid(n, string)*/
}

/*para index de 1 até 12 : faça*/
.offset-6 {
  /*seletor offset-index*/
  margin-left: calc(50% + 10px);
  /*grid(n, string)*/
}

/*para index de 1 até 12 : faça*/
.offset-7 {
  /*seletor offset-index*/
  margin-left: calc(58.33333% + 10px);
  /*grid(n, string)*/
}

/*para index de 1 até 12 : faça*/
.offset-8 {
  /*seletor offset-index*/
  margin-left: calc(66.66667% + 10px);
  /*grid(n, string)*/
}

/*para index de 1 até 12 : faça*/
.offset-9 {
  /*seletor offset-index*/
  margin-left: calc(75% + 10px);
  /*grid(n, string)*/
}

/*para index de 1 até 12 : faça*/
.offset-10 {
  /*seletor offset-index*/
  margin-left: calc(83.33333% + 10px);
  /*grid(n, string)*/
}

/*para index de 1 até 12 : faça*/
.offset-11 {
  /*seletor offset-index*/
  margin-left: calc(91.66667% + 10px);
  /*grid(n, string)*/
}

/*para index de 1 até 12 : faça*/
.offset-12 {
  /*seletor offset-index*/
  margin-left: calc(100% + 10px);
  /*grid(n, string)*/
}

/*@include device($)*/
@media screen and (max-width: 767px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 10px;
  }
}

/*MIXIN CLEARFIX*/
/*
@mixin clearfix {
    &::after, &::before{
        content: '';
        display: table;
        clear: both;
    }
}
*/
/*MIXIN CONTAINER*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*@include device($)*/
  /*Container para Tablet*/
  /*@include device($)*/
  /*Container para Mobile*/
  /*@include device($)*/
  /*@include clearfix()*/
}

@media screen and (min-width: 960px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

/*MIXIN ROW - Para Grid dentro de Grid*/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
  /*@include device(s){}*/
  /*@include clearfix()*/
}

.row [class^="grid-"] {
  margin-bottom: 0px;
}

/*TESTANDO GRIDSYSTEM*/
.container {
  background-color: rgba(0, 0, 0, 0.2);
}

[class^="grid-"] {
  background-color: rgba(0, 0, 0, 0.4);
}

.div {
  font-family: 'Aref Ruqaa', serif;
  font-family: 'PT Mono', monospace;
}
